@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #ededed;
  --font-title: var(--font-space);
}

h1, h2, h3, .title {
  font-family: var(--font-title), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: #ededed;
  }
}

body {
  background: transparent !important;
  color: var(--foreground);
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  position: relative;
  overflow: hidden;
}
